complex==0.2.0
nbconvert==7.17.0
networkx==3.6.1
numpy==2.4.2
Pillow==12.1.0
plotly==6.5.2
pytest==9.0.2
pyvis==0.3.2
relucent==0.4.1
scipy==1.17.0
# torch==2.9.1
# torchvision==0.24.1
tqdm==4.67.1
ipykernel==7.1.0
ipywidgets==8.1.8
anywidget==0.9.21
gurobipy==12.0.3
kaleido==1.2.0
nbconvert==7.17.0